In [3]:
# Exemplo de OLAP em Python - Estoque e Vendas de um Mercado
import pandas as pd

# Criando dados fictÃ­cios de vendas
dados = {
    'Produto': ['Arroz', 'FeijÃ£o', 'MacarrÃ£o', 'Leite', 'Carne', 'Arroz', 'FeijÃ£o', 'Leite', 'Carne', 'MacarrÃ£o'],
    'Categoria': ['Alimentos', 'Alimentos', 'Alimentos', 'Bebidas', 'Carnes',
                  'Alimentos', 'Alimentos', 'Bebidas', 'Carnes', 'Alimentos'],
    'Quantidade_Vendida': [50, 40, 30, 20, 15, 60, 35, 25, 20, 45],
    'Preco_Unitario': [5.0, 7.0, 4.5, 3.5, 20.0, 5.0, 7.0, 3.5, 20.0, 4.5],
    'Mes': ['Janeiro', 'Janeiro', 'Janeiro', 'Janeiro', 'Janeiro',
            'Fevereiro', 'Fevereiro', 'Fevereiro', 'Fevereiro', 'Fevereiro']
}

# Criando DataFrame
df = pd.DataFrame(dados)

# Criando uma coluna de Faturamento (Quantidade x PreÃ§o)
df['Faturamento'] = df['Quantidade_Vendida'] * df['Preco_Unitario']

print("ðŸ”¹ Base de dados de vendas:")
print(df)

# ---- AnÃ¡lises OLAP ----
print("\nðŸ“Š Faturamento total por Categoria:")
analise1 = df.groupby('Categoria')['Faturamento'].sum()
print(analise1)

print("\nðŸ“Š Quantidade vendida por Produto e MÃªs:")
analise2 = df.groupby(['Mes', 'Produto'])['Quantidade_Vendida'].sum().unstack(fill_value=0)
print(analise2)

print("\nðŸ“Š Faturamento mensal:")
analise3 = df.groupby('Mes')['Faturamento'].sum()
print(analise3)

print("\nðŸ“Š Ticket mÃ©dio por categoria (faturamento / quantidade):")
analise4 = df.groupby('Categoria').apply(lambda x: x['Faturamento'].sum() / x['Quantidade_Vendida'].sum())
print(analise4)

ðŸ”¹ Base de dados de vendas:
    Produto  Categoria  Quantidade_Vendida  Preco_Unitario        Mes  \
0     Arroz  Alimentos                  50             5.0    Janeiro
1    FeijÃ£o  Alimentos                  40             7.0    Janeiro
2  MacarrÃ£o  Alimentos                  30             4.5    Janeiro
3     Leite    Bebidas                  20             3.5    Janeiro
4     Carne     Carnes                  15            20.0    Janeiro
5     Arroz  Alimentos                  60             5.0  Fevereiro
6    FeijÃ£o  Alimentos                  35             7.0  Fevereiro
7     Leite    Bebidas                  25             3.5  Fevereiro
8     Carne     Carnes                  20            20.0  Fevereiro
9  MacarrÃ£o  Alimentos                  45             4.5  Fevereiro

   Faturamento
0        250.0
1        280.0
2        135.0
3         70.0
4        300.0
5        300.0
6        245.0
7         87.5
8        400.0
9        202.5

ðŸ“Š Faturamento total por Categoria:
Categoria
Alimentos    1412.5
Bebidas       157.5
Carnes        700.0
Name: Faturamento, dtype: float64

ðŸ“Š Quantidade vendida por Produto e MÃªs:
Produto    Arroz  Carne  FeijÃ£o  Leite  MacarrÃ£o
Mes
Fevereiro     60     20      35     25        45
Janeiro       50     15      40     20        30

ðŸ“Š Faturamento mensal:
Mes
Fevereiro    1235.0
Janeiro      1035.0
Name: Faturamento, dtype: float64

ðŸ“Š Ticket mÃ©dio por categoria (faturamento / quantidade):
Categoria
Alimentos     5.432692
Bebidas       3.500000
Carnes       20.000000
dtype: float64

/tmp/ipython-input-107313574.py:38: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  analise4 = df.groupby('Categoria').apply(lambda x: x['Faturamento'].sum() / x['Quantidade_Vendida'].sum())